<link href="https://fonts.googleapis.com/css2?family=Jomhuria&family=Cabin:wght@400&display=swap" rel="stylesheet">
<div>
<header class="flex items-center justify-center w-full bg-gradient-to-b from-[#154667] to-white h-[268px]">
  <nav class="flex items-center justify-center gap-[145px]">
    <div class="text-[#010101] text-[210px] font-normal font-['Jomhuria'] uppercase">
      Foraneospot
    </div>
    <div class="flex items-center gap-4">
      <button
        class="bg-white rounded-[19px] text-black text-2xl font-normal font-['Cabin']"
        style="width: 227px; height: 76px; margin-top: -21px;" (click)="navigateToLogin()"
      >
        Iniciar sesión
      </button>
      <button
        class="bg-white rounded-[19px] text-black text-2xl font-normal font-['Cabin']"
        style="width: 227px; height: 76px; margin-top: -21px;" (click)="navigateToRegister()"
      >
        Crear cuenta
      </button>
    </div>
  </nav>
</header>

<div class="w-full flex flex-row items-start gap-[30px] ml-[31px]">
  <!-- Contenedor de texto -->
  <div class="flex flex-col gap-[20px]">
    <!-- Encabezado -->
    <div class="text-[#010101] text-8xl font-normal font-['Jomhuria'] uppercase">
      ¿Quiénes somos?
    </div>
    <!-- Contenido de texto -->
    <div class="text-justify text-black text-xl font-normal font-['Cabin']">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pellentesque facilisis magna, id faucibus erat. Etiam mi lacus, laoreet in dictum sit amet, condimentum ut sapien. Sed interdum imperdiet diam in dapibus. Maecenas non quam sed sapien convallis ultrices vel non metus. Sed ut nulla quam. Vivamus luctus metus id iaculis vehicula. Praesent ut accumsan velit, vel sollicitudin nulla. Etiam fermentum pulvinar elit, in faucibus ligula suscipit vel. Vestibulum eros tortor, accumsan nec velit eget, ullamcorper iaculis nisl. Vestibulum sed pharetra metus, a placerat ligula. Pellentesque nulla quam, tincidunt in leo a, ornare suscipit nisi. Nunc pretium aliquet massa, nec fermentum enim faucibus in. Cras vel pretium diam, ac pretium metus. Morbi risus nisi, dapibus id ex a, ornare luctus neque. Aenean auctor ut consequat nibh. Morbi enim dui, bibendum vel lacinia aliquam, venenatis vel neque.
    </div>
  </div>
  <img class="w-[200px] h-auto " src="Frame 57.svg" alt="edificios">
</div>


</div>