<div class="min-h-screen bg-white flex flex-col items-center mb-10">
  <navbar class="w-full"></navbar>

  <select
    [(ngModel)]="selectedServicio"
    (change)="filtrarPorServicio()"
    class="w-full max-w-md mt-6 mb-4 p-3 border border-gray-300 rounded-lg"
  >
    <option value="" disabled selected>Selecciona un servicio</option>
    <option *ngFor="let servicio of servicios" [value]="servicio.idservicios">
      {{ servicio.descripcion }}
    </option>
  </select>

  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Buscar Alojamiento..."
    class="w-full max-w-md mb-6 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-500"
  />

  <div class="w-full flex justify-end">
    <button
      *ngIf="userRole === 'arrendador'"
      (click)="agregar()"
      class="rounded-2xl bg-[#04232B] px-6 py-3 text-white hover:bg-[#182e48] mb-8 mr-28"
    >
      Agregar Inmueble
    </button>
  </div>  

  <div 
    class="grid grid-cols-1 md:grid-cols-2 gap-10 w-full max-w-7xl" 
    *ngIf="filteredAlojamientos.length > 0; else noAlojamientos"
  >
    <app-card-alojamiento
      *ngFor="let alojamiento of filteredAlojamientos"
      [alojamiento]="alojamiento"
      (inmuebleEliminado)="onInmuebleEliminado()"
    ></app-card-alojamiento>
  </div>
  
  <ng-template #noAlojamientos>
    <p class="text-center text-gray-500 mt-6">
      No se encontraron alojamientos para el servicio seleccionado.
    </p>
  </ng-template>
</div>
