<div class="min-h-screen bg-white flex flex-col items-center">
  <navbar class="w-full"></navbar>
  <input
    type="text"
    [(ngModel)]="searchText"
    placeholder="Buscar Vendedor..."
    class="w-full max-w-md mt-6 mb-6 p-3 border border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-blue-500"
  />

  <div class="flex flex-wrap gap-8 w-full max-w-6xl justify-between">
    <app-card-vendedor
      *ngFor="let vendedor of filteredVendedores"
      [vendedor]="vendedor"
      class="w-5/12 h-auto min-h-[10px] flex flex-col"
    ></app-card-vendedor>
  </div>
</div>
