<header class="bg-[#1d3557] px-4 py-5">
  <div class="mx-auto flex max-w-8xl items-center justify-between">
    <div class="flex items-center gap-2">
      <div class="h-24 w-24 overflow-hidden rounded-full ml-5 mt-2">
          <img src="logo.png" alt="FORANEO SPOT">
      </div>
    </div>
    <nav class="flex items-center gap-4">
      <button
        *ngIf="userRole === 'foraneo'"
        (click)="navigateVendedoresFavoritos()" class="rounded-full bg-yellow-500 px-8 py-2 text-blue-950 hover:bg-white/90">
        Vendedores - Favoritos
      </button>
      <button
        *ngIf="userRole === 'foraneo'"
        (click)="navigateVendedores()" class="rounded-full bg-white px-8 py-2 text-black hover:bg-white/90">
        Vendedores
      </button>
      <button
      *ngIf="userRole === 'foraneo' || userRole === 'vendedor'"
      (click)="navigateComida()" class="rounded-full bg-white px-8 py-2 text-black hover:bg-white/90">
        Comida
      </button>
      <button
      *ngIf="userRole === 'foraneo' || userRole === 'arrendador'"
      (click)="navigateAlojamientos()" class="rounded-full bg-white px-8 py-2 text-black hover:bg-white/90">
        Alojamientos
      </button>
      <button
      *ngIf="userRole === 'foraneo' || userRole === 'arrendador'"
      (click)="navigateCasas()" class="rounded-full bg-white px-8 py-2 text-black hover:bg-white/90">
        Casas
      </button>
      <button
      *ngIf="userRole === 'foraneo' || userRole === 'arrendador'"
      (click)="navigateEdificios()" class="rounded-full bg-white px-8 py-2 text-black hover:bg-white/90">
        Cuartos
      </button>
      <button (click)="navigateEditar()" class="ml-1 rounded-ful mr-7 h-15 w-15">
        <img src="user.png" alt="USER" width="55px">
      </button>
    </nav>
  </div>
</header>
