<div class="container mx-auto max-w-lg">
    <h1 class="text-2xl font-bold text-center mb-6">Asignar Servicios</h1>
  
    <form (ngSubmit)="onSubmit()" class="space-y-4">
      <div *ngFor="let servicio of servicios">
        <label class="flex items-center space-x-3">
          <input
            type="checkbox"
            [value]="servicio.idservicios"
            [checked]="selectedServicios.has(servicio.idservicios)"
            (change)="toggleServicio(servicio.idservicios, $event)"
          />
          <span>{{ servicio.descripcion }}</span>
        </label>
      </div>
      
  
      <button
        type="submit"
        class="w-full bg-[#0057A0] text-white py-2 rounded hover:bg-[#234a77]"
      >
        Asignar Servicios
      </button>
    </form>
  </div>
  