<div class="min-h-screen bg-white">
  <navbar></navbar>

  <main class="container mx-auto max-w-2xl px-4 py-8">
    <h1 class="mb-8 text-center text-3xl font-light tracking-wider">Actualizar datos</h1>

    <form [formGroup]="profileForm" class="space-y-6" (ngSubmit)="onSubmit()">

      <div class="space-y-4">
        <div class="w-full">
          <label class="font-semibold block mb-1" for="nombre">Nombre</label>
          <input
            type="text"
            id="nombre"
            formControlName="nombre"
            class="w-full rounded-lg bg-[#D9D9D9] p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <div *ngIf="profileForm.get('nombre')?.invalid && profileForm.get('nombre')?.touched" class="text-red-500 text-sm">
            Nombre es requerido y debe de ser válido.
          </div>
        </div>

        <div class="w-full">
          <label class="font-semibold block mb-1" for="sexo">Sexo</label>
          <select
            id="sexo"
            formControlName="sexo"
            class="w-full rounded-lg bg-[#D9D9D9] p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          >
            <option value="">Seleccionar</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
          </select>
        </div>

        <div class="w-full">
          <label class="font-semibold block mb-1">Tipo de Usuario</label>
          <p class="w-full rounded-lg bg-[#D9D9D9] p-3">{{ userRole }}</p>
        </div>

        <div class="w-full">
          <label class="font-semibold block mb-1" for="correo">Correo</label>
          <input
            type="email"
            id="correo"
            formControlName="correo"
            class="w-full rounded-lg bg-[#D9D9D9] p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <div *ngIf="profileForm.get('correo')?.invalid && profileForm.get('correo')?.touched" class="text-red-500 text-sm">
            El correo es requerido y debe de ser válido.
          </div>
        </div>

        <div class="w-full">
          <label class="font-semibold block mb-1" for="telefono">Número Telefónico
          </label>
          <input
            type="tel"
            id="telefono"
            formControlName="telefono"
            class="w-full rounded-lg bg-[#D9D9D9] p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <div *ngIf="profileForm.get('telefono')?.invalid && profileForm.get('telefono')?.touched" class="text-red-500 text-sm">
            El télefono es requerido y debe de ser válido
          </div>
        </div>
        <div *ngIf="userRole === 'foraneo'" class="w-full">
          <label class="font-semibold block mb-1">Fecha de Nacimiento</label>
          <input
            type="date"
            formControlName="nacimiento"
            class="w-full rounded-lg bg-[#D9D9D9] p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
          <div *ngIf="profileForm.get('nacimiento')?.hasError('edadMinima') && profileForm.get('nacimiento')?.touched" class="text-red-500 text-sm">
            {{ profileForm.get('nacimiento')?.errors?.['edadMinima']?.message }}
          </div>
        </div>
        
        <div *ngIf="userRole === 'vendedor'" class="w-full">
          <label class="font-semibold block mb-1">Ubicación</label>
          <input
            type="text"
            formControlName="ubicacion"
            class="w-full rounded-lg bg-[#D9D9D9] p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          />
        </div>
        
        <div *ngIf="userRole === 'arrendador'" class="w-full">
          <label class="font-semibold block mb-1">Descripción</label>
          <textarea
            formControlName="descripcion"
            class="w-full rounded-lg bg-[#D9D9D9] p-3 focus:outline-none focus:ring-2 focus:ring-blue-500"
          ></textarea>
        </div>
        
      </div>

      <div class="flex justify-center gap-4">
        <button
          type="submit"
          class="rounded bg-[#0057A0] px-6 py-3 text-white hover:bg-blue-800"
        >
          Guardar cambios
        </button>
        <button
          type="button"
          class="rounded bg-[#D9D9D9] px-6 py-3 text-gray-700 hover:bg-gray-300"
          (click)="cancelar()"
        >
        Cancelar
        </button>
      </div>
    </form>
  </main>
</div>
