<div *ngIf="opiniones.length > 0; else noOpiniones">
  <div class="promedio-calificacion bg-[#1d3557] text-white p-4 rounded-lg shadow-md">
    <p class="text-xl font-semibold">Calificación Promedio: {{ calificacionPromedio }} / 10</p>
  </div>

  <div *ngFor="let opinion of opiniones" class="opinion-item bg-white shadow-md rounded-lg p-6 mb-4">
    <ng-container *ngIf="editingOpinion?.idopinion !== opinion.idopinion">
      <div class="opinion">
        <p class="text-lg font-semibold text-gray-800"><strong>Calificación:</strong> {{ opinion.calificacion }}/10</p>
        <p class="text-gray-600 mt-2"><strong>Descripción:</strong> {{ opinion.descripcion }}</p>

        <div class="mt-2 space-x-2">
          <button
            *ngIf="opinion.idusuarioforaneo === usuarioId"
            (click)="eliminarOpinion(opinion.idopinion)"
            class="bg-red-500 text-white px-4 py-2 rounded-lg shadow hover:bg-red-600"
          >
            Eliminar
          </button>
          <button
            *ngIf="opinion.idusuarioforaneo === usuarioId"
            (click)="startEditing(opinion)"
            class="bg-[#0057A0] text-white px-4 py-2 rounded-lg shadow hover:bg-[#1d3557]"
          >
            Editar
          </button>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="editingOpinion?.idopinion === opinion.idopinion">
      <div class="opinion-edit">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Calificación (1-10)</label>
          <input
            type="number"
            [(ngModel)]="editingOpinion.calificacion"
            min="1"
            max="10"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
          >
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2">Descripción</label>
          <textarea
            [(ngModel)]="editingOpinion.descripcion"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            rows="4"
          ></textarea>
        </div>
        <div class="space-x-2">
          <button
            (click)="saveEditedOpinion()"
            class="bg-green-500 text-white px-4 py-2 rounded-lg shadow hover:bg-green-600"
          >
            Guardar
          </button>
          <button
            (click)="cancelEditing()"
            class="bg-gray-500 text-white px-4 py-2 rounded-lg shadow hover:bg-gray-600"
          >
            Cancelar
          </button>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #noOpiniones>
  <p class="text-center text-xl text-gray-500 font-semibold">No hay opiniones disponibles para este vendedor.</p>
</ng-template>
