<div class="rounded-lg bg-gray-100 p-6">
  <h2 class="mb-4 text-xl font-semibold">{{comida.nombre}} {{comida.precio}} $</h2>
  <div class="flex gap-6">
    <div class="relative h-40 w-40 shrink-0 bg-gray-200 p-4">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="h-full w-full text-[#1d3557]" fill="currentColor">
        <path d="M96 32v384H32c-17.7 0-32 14.3-32 32s14.3 32 32 32h448c17.7 0 32-14.3 32-32s-14.3-32-32-32h-64V32c0-17.7-14.3-32-32-32H128C110.3 0 96 14.3 96 32zm64 192H288v64H160v-64zm0 128H288v64H160v-64zm-32-256H320v64H128v-64z" />
      </svg>
    </div>
    <div class="flex flex-col justify-between">
      <p class="text-sm leading-relaxed text-gray-600">
        {{comida.descripcion}}
      </p>
      <button (click)="navegarMenuComida()" class="mt-4 w-fit bg-[#0057A0] px-4 py-2 text-white hover:bg-[#1d3557]/90 border-r-4">
        Ordenar comida
      </button>
    </div>
  </div>
</div>



