<div class="bg-gray-100 p-6">
<div class="relative flex justify-end">
  <button (click)="toggleMenu()" class="text-xl text-gray-600 ">
    &#x2022;&#x2022;&#x2022; 
  </button>

  <div *ngIf="menuVisible" class="absolute right-0 bg-white shadow-lg rounded-md mt-2 w-48 ">
    <ul class="text-gray-700">
      <li>
        <button (click)="verDetallesVendedor(comida.id_usuario_vendedor)" class="px-4 py-2 hover:bg-gray-200 w-full text-left">
          Ver detalles del vendedor
        </button>
      </li>
    </ul>
  </div>
</div>

  <h2 class="mb-4 text-xl font-semibold">
    {{ comida.nombre }} {{ comida.precio }} $
  </h2>
  <div class="flex gap-6">
    <div class="relative h-40 w-40 shrink-0 bg-[#E1E5EB] overflow-hidden">
      <img
        *ngIf="comida.imagenes && comida.imagenes.length > 0"
        [src]="'http://3.213.191.244:8000/' + comida.imagenes[0].file_path"
        alt="{{ comida.nombre }}"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </div>

    <div class="flex flex-col justify-between">
      <p class="text-sm leading-relaxed ">
        {{ comida.descripcion }}
      </p>

      <h3 class=" text-base font-semibold">
        Ubicación del vendedor:
      </h3>
      <p *ngIf="userRole === 'foraneo'" class="text-sm leading-relaxed ">
        {{ comida.ubicacion_vendedor }}
      </p>

<div *ngIf="showModal" class="fixed inset-0 bg-gray-700 bg-opacity-50 flex justify-center items-center z-50">
  <div class="bg-white p-6 rounded-xl w-96">

    <div class="mt-4">
      <input
        type="text"
        [(ngModel)]="especificaciones"
        placeholder="Especificaciones (opcional)"
        class="w-full px-4 py-2 border rounded-lg mt-2"
      />
    </div>

    <div class="mt-4 flex gap-4">
      <button
        (click)="ordenarComida()"
        class="w-full bg-[#0057A0] px-4 py-2 text-white hover:bg-[#1d3557]/90 rounded-2xl"
      >
        Ordenar comida
      </button>
      <button
        (click)="closeModal()"
        class="w-full bg-gray-500 px-4 py-2 text-white hover:bg-gray-600 rounded-2xl"
      >
        Cancelar
      </button>
    </div>

  </div>
</div>

<div class="mt-4 flex gap-4">
  <button
  *ngIf="userRole === 'foraneo'"
  (click)="openModal()"
  class="w-fit bg-[#0057A0] px-4 py-2 text-white hover:bg-[#1d3557]/90 border-r-4 rounded-2xl"
>
  Ordenar comida
</button>

  <button
    *ngIf="userRole === 'vendedor'"
    (click)="onEdit(comida)"
    class="w-fit bg-[#0057A0] px-6 py-2 text-white hover:bg-[#1d3557]/90 rounded-2xl"
  >
    Editar
  </button>
  <button
    *ngIf="userRole === 'vendedor'"
    (click)="onDelete(comida.id)"
    class="w-fit bg-[#0057A0] px-6 py-2 text-white hover:bg-[#c53030]/90 rounded-2xl"
  >
    Eliminar
  </button>
</div>
    </div>
  </div>
</div>
