<!-- Botón para abrir el Modal -->
<button
  class="rounded-xl px-6 py-3 hover:bg-[#182e48] shadow-md hover:text-white"
  (click)="openModal()"
>
  Deja tu Opinión
</button>

<div *ngIf="isModalOpen" class="modal-overlay" (click)="closeModal()">
  <div class="modal-content shadow-md p-3 rounded-md" (click)="$event.stopPropagation()">
    <h2 class="text-xl font-bold mb-4 mt-4">Ingresa tu Opinión</h2>

    <div>
      <label for="calificacion" class="mb-2">Calificación (1-10)</label>
      <input
        id="calificacion"
        type="number"
        [(ngModel)]="calificacion"
        class="w-full p-2 rounded"
        placeholder="Calificación (1-10)"
        min="1"
        max="10"
      />
    </div>

    <div>
      <label for="descripcion" class="mb-2">Descripción</label>
      <textarea
        id="descripcion"
        [(ngModel)]="descripcion"
        class="w-full p-2 rounded"
        placeholder="Escribe tu opinión"
      ></textarea>
    </div>

    <div class="mt-4 flex justify-between">
      <button
        class="bg-red-500 text-white px-4 py-2 rounded-xl hover:bg-red-700"
        (click)="closeModal()"
      >
        Cancelar
      </button>
      <button
        class="bg-[#0057A0] text-white px-4 py-2 rounded-xl hover:bg-[#1d3557]"
        (click)="submitOpinion()"
      >
        Enviar Opinión
      </button>
    </div>
  </div>
</div>
